/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.async-form {
  display: none;
  flex-direction: column;
  margin-top: 2rem;
}

.async-form.visible {
  display: flex;
}

.async-form label {
  margin-bottom: 0.5rem;
}

.async-form label + input {
  margin-bottom: 1rem;
}

.async-form-actions {
  display: none;  
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.async-form-actions.visible {
  display: flex;
}

.async-git-results {
  display: none;
  flex-direction: column;  
  border: var(--input-border-width) solid var(--background-modifier-border);
  border-radius: 5px;
  background: var(--background-modifier-form-field);
  color: var(--code-normal);
  padding: 1rem;
  margin-top: 2rem;
  overflow-y: auto;
  max-height: 300px;
}

.async-git-results.visible {
  display: flex;
}

.async-git-results p {
  margin: 0px;
  padding: 0px;
}

.async-git-config-actions {
  display: none;
  justify-content: flex-end;
  margin-top: 2rem;
}

.async-git-config-actions.visible {
  display: flex;
}

.async-git-settings-info {
  display: none;
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 5px;
}

.async-git-settings-info p {
  margin: 0;
}

.async-git-settings-info.visible {
  display: flex;
}